.Password {
    font-size: 2rem;
    margin: 0;
    letter-spacing: -0.5px;
    overflow: hidden;
    text-align: left;
    color: #fff;
    position: relative;
    overflow-wrap: anywhere;
    position: relative;
    margin-bottom: 0.5rem;

    @media (max-width: 768px) {
        font-size: 1.8rem;
    }

    > div {
        overflow: hidden;
        white-space: normal;
    }
}
.Container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 512px) {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        margin-top: 0.5rem;
        .ContainerBtn {
            justify-self: start;
            margin-bottom: 1rem;
        }
    }
}

.ContainerBtn {
    --size: 2.5rem;
    display: inline-flex;

    button {
        background: transparent;
        border: none;
        width: var(--size);
        height: var(--size);
        border-radius: 0.25rem;
        transform: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background: rgba($color: #000000, $alpha: 0.2);
        }

        &[data-refresh]:hover svg {
            transform: rotate(270deg);
        }
        svg {
            width: 2rem;
            height: 2rem;
        }
    }
}
