.Password {
	font-size: 2rem;
	height: 3.2rem;
	margin: 0;
	letter-spacing: -0.5px;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	color: #fff;
	> div {
		overflow: hidden;
	}
}
.Container {
	display: flex;
	justify-content: space-between;
}
.ContainerBtn {
	--size: 2.5rem;
	button {
		background: transparent;
		border: none;
		width: var(--size);
		height: var(--size);
		border-radius: 0.25rem;
		transform: 0.3s ease;
		&:hover {
			background: rgba($color: #000000, $alpha: 0.2);
		}

		&[data-refresh]:hover svg {
			transform: rotate(270deg);
		}
		svg {
			width: 2rem;
			height: 2rem;
		}
	}
}
