.Password {
	font-size: 2rem;
	height: 3.2rem;
	margin: 0;
	letter-spacing: -0.5px;
	overflow: hidden;
	white-space: nowrap;
	text-align: left;
	color: #fff;
	> div {
		overflow: hidden;
	}
}
.Container {
	display: flex;
	justify-content: space-between;
}
.Buttons {
}
