.Result {
	text-align: left;
	width: 100%;
	white-space: wrap;
	font-size: 1rem;
	line-height: 1.8rem;

	@media (max-width: 1024px) {
		white-space: normal;
	}

	input {
		margin: auto 0.5rem;
		background: transparent;
		border: none;
		width: 64px;
		color: #fff;
		font-size: 1rem;
		font-weight: 600;
		text-align: right;
		&[type='number'] {
			-moz-appearance: textfield;
		}
		&[type='number']::-webkit-inner-spin-button,
		&[type='number']::-webkit-outer-spin-button {
			-webkit-appearance: none;
			appearance: none;
			margin: 0;
		}
	}
}
.Toggle {
	color: #fff;
	font-size: 1rem;
	background: transparent;
	border: none;
	cursor: pointer;
	font-weight: 600;
	&[data-time='true'] {
		margin: auto 0.5rem;
		background: #fff;
		color: var(--background);
	}
	@media (max-width: 512px) {
		&:first-child {
			margin: auto auto;
		}
	}
}

.Value {
	margin-top: 0.625rem;
	font-size: 1rem;
	@media (max-width: 1024px) {
		white-space: normal;
		line-height: 2.2rem;
	}
	@media (max-width: 512px) {
		line-height: 1.8rem;
	}
	& span {
		font-size: 1.4rem;
		font-weight: 600;
		background: #fff;
		color: var(--background);
		padding: 0.25rem 0.25rem;
		margin-right: 0.25rem;
		@media (max-width: 320px) {
			width: 100%;
			margin-right: 0.1rem;
		}
	}
}
.Speed {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	@media (max-width: 512px) {
		span {
			margin-bottom: 0.5rem;
			width: 100%;
		}
	}
}
