.CheckBoxes {
	display: flex;
	padding-top: 0.25rem;
	justify-content: right;
	@media (max-width: 1024px) {
		justify-content: start;
	}
	@media (max-width: 360px) {
		flex-wrap: wrap;
		li {
			margin-bottom: 1.6rem;
		}
	}
	li {
		width: 100%;
		margin-right: 2rem;
	}
}
